{% load static %}

<html>
    <head>
        <title>Ringo's blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <div id="page">
            <div id="page-header">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu">新しく投稿する</span></a>
                {% endif %}
                <h1 id="siteTitle"><a href="/">りんごのぶろぐ</a></h1>
                <p id="catchcopy">生物学とプログラミングの勉強をしてます。</p>
                <nav class="globalNavi">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/">BLOG</a></li>
                        <li><a href="/">工事中①</a></li>
                        <li><a href="/">工事中②</a></li>
                    </ul>
                </nav>
            </div>
            
            
            <div id="page-body">
                {% block content %}
                {% endblock %}
            </div>

            {% block next %}
            {% endblock %}
            
            <div id ="page-footer">
                <p id="copyright">Copyright&copy; 2022 @りんごのぶろぐ All Right Reserved.</p>
            </div>
        </div>
    </body>

    <footer>

    </footer>
</html>