{% load static %}

<html>
    <head>
        <title>Ringo's blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
    </head>

    <body>
        <div id="page">
            <div id="page-header">
                <h1 id="siteTitle"><a href="/">りんごのぶろぐ</a></h1>
                <p id="catchcopy">生物学とプログラミングの勉強をしてます。</p>
                <img src="{% static 'images/apple.png' %}", id=title-logo>
                <nav class="globalNavi">
                    <ul>
                        <li><a href="{% url 'post_list' %}">Blog</a></li>
                        <li><a href="{% url 'article_list' %}">Article</a></li>
                        <li><a href="/">工事中①</a></li>
                        <li><a href="/">工事中②</a></li>
                    </ul>
                </nav>
            </div>
            
            
            <div id="page-body">
                <div id="page-body-main">
                    {% block content %}
                    {% endblock %}
                </div>

                <div id="page-body-sub">
                    <section class="new-list">
                        <h2>お知らせ</h2>
                        <ul>
                            <li><time datetime="2022-03-19">2022.3.19</time><br>ブログを開設しました。</li>
                            <li><time datetime="2022-03-19">2022.3.19</time><br>テスト。</li>
                        </ul>
                    </section>

                    <section class="profile">
                        <h2>プロフィール</h2>
                        <ul>
                            <li>りんご</li>
                            <li>大学4年生</li>
                        </ul>
                    </section>
                </div>
            </div>
            
            <div id ="page-footer">
                <p id="copyright"><small>Copyright&copy; 2022 @りんごのぶろぐ All Right Reserved.</small></p>
            </div>
        </div>
    </body>

    <footer>

    </footer>
</html>