{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">記事を修正する</a>
        {% endif %}
        <h2 class="blog-title">{{ post.title }}</h2>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <p id="detail">{{ post.text|linebreaksbr }}</p>
    </div>

    <div class="next-page">
        {% with prev=post.get_previous_by_create_date %}
            {% if prev %}
                <a href="{% url 'post_detail' pk=prev.pk %}">◀️前の記事</a>
            {% endif %}
        {% endwith %}

        {% with next=post.get_next_by_create_date %}
            {% if next %}
                <a href="{% url 'post_detail' pk=next.pk %}">次の記事▶️</a>
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}