{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">記事を修正する</a>
        {% endif %}
        <h2 class="blog-title">{{ post.title }}</h2>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <p id="detail">{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}

{% block next %}
    <div class="next-page">
        <a href="{% url 'post_detail' pk=post.pk %}">次のページ</a>
    </div>
{% endblock %}