h2 {
    color: #b10000;
    font-size: 30px;
}

a {
    color: #b10000;
}

a:hover {
    color: #b10000b0;
}


body {
    margin: 0px; /*ページ周囲の余白を削除*/
    background-color: #D2EEFD;
}

#page {
    background-color: #D2EEFD;
}

#page-header {
    background-color: #ffffff;
}

#page-header .globalNavi {
    border: solid #000000;
    border-width: 1px 0;
    padding: 10px 0;
    
}

#page-header .globalNavi ul {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 980px;
    margin: 0 auto;
}

#page-header .globalNavi ul:after {
    content: "";
    clear: both;
    display: block;
}

#page-header .globalNavi ul li {
    list-style: none;
    width: 245px;
    float: left;
}

#page-body {
    width: 980px;
    margin: 0 auto;
}

#siteTitle {
    margin: 0px;
    font-size: 30px;
    line-height: 2;
    margin-bottom: 0;
    text-align: center;
}

#siteTitle a {
    color: #E9D0D2;
    text-decoration: none;
}

#catchcopy {
    font-size: 15px;
    margin-top: 0;
    text-align: center;
}

#page-footer {
    border-top: solid 1px #000000;
    margin-top: 15px;
    padding-left: 10px;
}

.post {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}

.date {
    font-size: 15px;
}

#detail {
    margin-top: 50px;
}

.blog-title {
    border-bottom: solid 2px #ff0000;
}

