h2 {
    color: #7a4d4d;
}

h2 a {
    color: #7a4d4d;
}

a:hover {
    color: #b10000b0;
}

body {
    font-family: "sans-serif" ;/* サイト全体のフォント指定 */
    margin: 0px; /*ページ周囲の余白を削除*/
}

#page {
    /*background-color: #D2EEFD;*/
}

#page-header {
    background-color: #ffffff;
    margin: 0px;
}

#page-header .globalNavi {
    background-color: #D4EBD7;;
    border: solid #9b8d8d;
    border-width: 1px 0;
    padding: 10px 0;
    
}

#page-header .globalNavi ul {
    padding: 0;
    text-align: center;
    margin: 0 auto;
}

#page-header .globalNavi ul:after {
    content: "";
    clear: both;
    display: block;
}

#page-header .globalNavi ul li {
    list-style: none;
    width: 245px;
    float: left;
}

#page-header .globalNavi ul li a{
    color: #4e3232;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

#page-header .globalNavi ul li a:hover{
    background-color: #ffcb9a;
    display: block;
}

#page-body {
    margin: 20px 30px;
}

#siteTitle {
    margin: 0px;
    font-size: 30px;
    line-height: 2;
    margin-bottom: 0;
    text-align: center;
}

#siteTitle a {
    color: #7a4d4d;
    text-decoration: none;
}

#catchcopy {
    font-size: 15px;
    margin-top: 0;
    text-align: center;
}

#page-footer {
    border-top: solid 1px #000000;
    margin-top: 15px;
    padding-left: 10px;
    background-color: #D4EBD7;
}

.post {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
    border-bottom: solid 1px #4e3232;
}

.date {
    font-size: 15px;
}

#detail {
    margin-top: 50px;
}


